<%- include('../partials/user-header.ejs') %>

<div class="container">
    <h2>Products by Category: <%= selectedCategory.name %></h2>
    
    <% if (products.length === 0) { %>
      <p>No products available for this category.</p>
    <% } else { %>
      <div class="row">
        <% for (let i = 0; i < products.length; i++) { %>
            <div class="col-lg-3 col-md-6 mb-4">
              <div class="card h-100">
                <a href="/user/product-detail/<%= products[i]._id %>" class="text-reset">
                  <div class="bg-image hover-zoom ripple ripple-surface ripple-surface-light" data-mdb-ripple-color="light">
                    <img src="/images/product/<%= products[i].productImages[0] %>" class="product-image" style="width: 250px; height: 200px;" />
                    <style>
                      .product-image {
      width: 100px; /* Set a fixed width */
      height: 150px; /* Set a fixed height */
      object-fit:contain; /* Maintain aspect ratio and cover container */
      margin: 5px; /* Adjust margin as needed */
    }
    
                    </style>
                  </div>
                  <div class="card-body">
                    <h5 class="card-title mb-2"><%= products[i].name %></h5>
                    <p><%= products[i].category && products[i].category.name %></p>
                    <h6 class="mb-3 price"><%= products[i].price %>₹</h6>
                  </div>
                </a>
              </div>
            </div>
          <% } %>
      </div>
    <% } %>
  </div>